{% extends 'layouts/loging_template.html' %}

{% block body %}
<div class="container border pt-5 ms-5 pb-3 mt-5">
    <h1>Заполните форму для входа.</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Введите электронный адрес" name="email" required>
        </div>
        <div class="mb-3">
            <label for="pwd">Пароль:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Введите Пароль" name="pswd" required>
        </div>
        <div class="form-check mb-3">
            <label class="form-check-lable">
                <input class="form-check-input" type="checkbox" name="remember"> Запомнить меня
            </label>
        </div>
        <!-- <button type="submit" class="btn btn-primary">Подтвердить</button> -->
        <input type="submit" class="btn btn-primary" value="Подтвердить">
    </form>
</div>
{% endblock %}