{% extends 'layouts/layout.html' %}
{% load static %}

{% block body %}

<div class="container pt-3 pb-3 sm">
    <div class="row bg-primary">
        <div class="col-sm-9"><h1 class="display-1" style="padding: 20px;">WorkInScience</h1></div>
        <div class="col-sm-3"><img src="{% static 'mainapp/startup.png' %}" width="100px;"></div>
    </div>
</div>
<div class="container pt-3 pb-3 sm">
    <p class="display-2"><kbd style="padding: 10px;">WiS</kbd> - это стартап, объединяющий бизнес, науку и образование.</p>
</div>

<div class="container pt-5 pb-5 sm bg-primary">
    <div class="row">
        <div class="col">
            <div>
                <img src="{% static 'mainapp/uni.png' %}" width="250px" class="mx-auto d-block">
                <p class="subpic">57 Университетов</p>
            </div>
        </div>
        <div class="col">
            <div>
                <img src="{% static 'mainapp/lab.png' %}" width="250px" class="mx-auto d-block">
                <p class="subpic">+100 Институтов и лабораторий</p>
            </div>
        </div>
        <div class="col">
            <div>
                <img src="{% static 'mainapp/business.png' %}" width="250px" class="mx-auto d-block">
                <p class="subpic">+100 Компаний</p>
            </div>
        </div>
        <div class="col">
            <div>
                <img src="{% static 'mainapp/users.png' %}" width="250px" class="mx-auto d-block">
                <p class="subpic">+1000 Активных пользователей</p>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5 pb-5">
    <h1 id="mission">Наша миссия:</h1>
    <ul>
        <li class="mission-item">Cтроим мосты между образованием, наукой и бизнесом.</li>
        <li class="mission-item">Помогаем с выбором сферы и направления развития</li>
        <li class="mission-item">Улучшаем процесс поиска научной и образовательной практики, стажировок и работы.</li>
    </ul>
</div>
{% endblock %}