{% extends 'layouts/loging_template.html' %}

{% block body %}
<div class="container border pt-5 ms-5 pb-3 mt-5">
    <h1>Заполните форму для регистрации.</h1>
    <form>
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Имя" name="first_name" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Фамилия" name="last_name" required>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Введите электронный адрес" name="email" required>
        </div>
        <div class="mb-3">
            <label for="pwd">Пароль:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Введите Пароль" name="pswd">
        </div>
        <div class="mb-3">
            <label for="pwd">Повторите Пароль:</label>
            <input type="password" class="form-control" id="pwd_confirm" placeholder="Введите Пароль" name="pswd_confirm">
        </div>
        <div class="mb-3">
            <label for="organization">Выберите организацию:</label>
            <input name="organization" list="organizations" placeholder="Организация">
            <datalist id="organizations">
                <option value="Сотрудник Компании">
                <option value="Сотрудник Института">
                <option value="Сотрудник Лаборатории">
                <option value="Студент">
        </div>
        <button type="submit" class="btn btn-primary">Подтвердить</button>
    </form>
</div>
{% endblock %}